/*media queris*/
@media (max-width: 577px) {
  .iconoTienda {
    width: 70px;
    margin-bottom: 10px; }
  .historia {
    display: flex;
    flex-direction: column;
    align-items: center; }
  .imagenEmpresa {
    max-width: 450px;
    max-height: 300px;
    border: solid 2px black; }
  .producto {
    list-style-type: none; }
    .producto ul {
      background-color: #dce9be;
      list-style-type: none;
      display: flex;
      flex-direction: column;
      align-items: flex-start; }
      .producto ul li {
        transition: all .5s; }
        .producto ul li:hover {
          font-size: 30px; }
        .producto ul li a {
          text-decoration: none;
          color: #026618;
          font-weight: bolder; }
  .oferta {
    list-style-type: none; }
    .oferta ul {
      background-color: #dce9be;
      list-style-type: none;
      display: flex;
      flex-direction: column;
      align-items: flex-start; }
      .oferta ul li {
        transition: all .5s; }
        .oferta ul li:hover {
          font-size: 30px; }
        .oferta ul li a {
          text-decoration: none;
          color: #026618;
          font-weight: bolder; } }

.subMenu, .menuOferta {
  background-color: #dce9be;
  list-style-type: none;
  display: flex;
  justify-content: space-around;
  align-items: center; }

/*page productos*/
h3 {
  font-size: 30px;
  margin: 10px;
  color: #026618;
  font-family: "Bangers"; }

.producto {
  list-style-type: none; }
  .producto ul {
    background-color: #dce9be;
    list-style-type: none;
    display: flex;
    justify-content: space-around;
    align-items: center; }
    .producto ul li {
      transition: all .5s; }
      .producto ul li:hover {
        font-size: 30px; }
      .producto ul li a {
        text-decoration: none;
        color: #026618;
        font-weight: bolder; }

.lista {
  display: flex;
  justify-content: flex-start;
  flex-wrap: wrap;
  align-items: flex-end; }
  .lista .card {
    background-color: #dce9be;
    padding: 10px;
    margin: 10px;
    width: 250px;
    text-align: center;
    align-items: center;
    transition: width 0.5s; }
    .lista .card:hover {
      width: 300px;
      background-color: gray; }
    .lista .card .imgProd {
      width: 150px; }
    .lista .card .precio {
      margin: 2px;
      font-size: 15px; }
    .lista .card button {
      background-color: black;
      color: white;
      font-size: 20px;
      border: none; }
    .lista .card button:hover {
      background-color: white;
      color: black;
      border: 2px solid black;
      font-weight: bolder; }

/*general*/
body {
  background-color: #e9f0f0;
  font-family: 'Roboto', sans-serif;
  font-weight: 400; }

/*general*/
header .indexTitulo {
  font-size: 25px;
  font-family: "Bangers";
  margin-left: 10px;
  margin-right: 20px; }
  header .indexTitulo a {
    text-decoration: none;
    color: #88d788; }

header .iconoTienda {
  width: 70px; }

header .nav-item:hover {
  text-decoration-line: underline; }

.tituloPage {
  font-family: "Bangers";
  font-size: 3rem;
  color: #88d788;
  display: flex;
  justify-content: center;
  margin-top: 20px;
  margin-bottom: 20px; }

.footer {
  background: linear-gradient(to bottom right, black, white);
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: 1rem !important;
  padding: 20px; }
  .footer .redesSociales a img {
    width: 30px; }

/* index */
.titulo1 {
  height: 100px;
  display: flex;
  justify-content: center;
  align-items: center; }
  .titulo1 .miTienda {
    margin-top: 10px;
    margin-bottom: 10px;
    font-size: 50px;
    font-family: 'Bangers', cursive;
    padding: 10px;
    animation-name: mianimacion;
    animation-duration: 10s;
    animation-delay: 0.5s; }

@keyframes mianimacion {
  0% {
    font-size: 10px; }
  25% {
    font-size: 20px; }
  50% {
    font-size: 50px;
    background-color: #88d788; }
  75% {
    font-size: 20px; }
  100% {
    font-size: 10px; } }

.carrusel {
  display: flex;
  justify-content: center; }
  .carrusel #carouselExampleIndicators {
    width: 800px;
    height: 500px;
    margin-top: 30px;
    margin-bottom: 100px;
    display: flex;
    align-items: center; }
    .carrusel #carouselExampleIndicators .carousel-inner img {
      max-height: 400px; }

/* page empresa */
.tituloEmpresa {
  color: #2e2633;
  font-weight: 800; }

.imagenEmpresa {
  width: 600px;
  height: 400px;
  border: solid 2px black; }

.historia {
  display: flex;
  flex-direction: column;
  align-items: center; }

.textoEmpresa {
  font-size: 1.2rem;
  text-align: justify;
  margin: 40px; }

/* page contacto */
.contacto {
  display: flex;
  justify-content: center; }

.formulario {
  display: flex;
  flex-direction: column;
  align-items: center; }
  .formulario .imgContacto {
    width: 600px; }
  .formulario #cuestionario {
    margin: 10px;
    width: 400px; }
    .formulario #cuestionario .item {
      margin-top: 10px; }
      .formulario #cuestionario .item:last-child {
        margin-bottom: 10px; }
      .formulario #cuestionario .item textarea {
        width: 200px !important;
        transition: width 0.5s !important; }
        .formulario #cuestionario .item textarea:focus {
          width: 400px !important; }

/* page oferta */
.ofertaTitulo {
  display: flex;
  justify-content: center; }

.menuOferta a {
  text-decoration: none;
  color: #026618;
  font-weight: bolder; }

.dia {
  background-color: #f86161; }

.semana {
  background-color: red; }

.mes {
  background-color: #320404; }

.oferta .card {
  position: relative; }

.descuento {
  position: absolute;
  top: 1px;
  left: 2px;
  background-color: red;
  color: yellow;
  padding: 2px;
  font-weight: bolder; }
