
/* page empresa */


.tituloEmpresa {
    color: rgb(46,38,51);
    font-weight: 800;
}



.historia{
    display: flex;
    flex-direction: row-reverse;
    flex-wrap: wrap;
    align-content: center;
    align-items: center;
    margin-bottom: 150px;
    margin-top: 50px;
    justify-content: space-evenly;
    .imagen {
        display: flex;
        justify-content: center;
        width: 500px; 
        margin: 20px;
        .imagenEmpresa {
            @include size(100%, auto);   
        }
    }
    .textoEmpresa {
        font-size: 1.2rem;
        text-align: justify;
        width: 500px;
        margin: 20px;

        
    }

}





