
/* page empresa */

.tituloEmpresa {
    color: rgb(46,38,51);
    font-weight: 800;
}

.imagenEmpresa {
    @include size(100%, auto);
}

.historia{
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
    margin: 40px;
}

.textoEmpresa {
    font-size: 1rem;
    text-align: justify;
    margin: 20px;

}


