/*media queris*/

@media (max-width: 577px){
    .iconoTienda {
        width: 70px;
        margin-bottom: 10px;
    }


    .imagenEmpresa {
            max-width: 450px;
            max-height: 250px;
            margin: 10px;
    }
    #contacto {
        width: 450px;
        margin: 10px;
    }

    .historia{
        display: flex;
        flex-direction: column !important;
        align-items: center;
        margin: 40px;
    }
    
    
    .producto{
        list-style-type: none;
        ul {
            background-color: rgb(220,233,190);
            list-style-type: none;
            display: flex;
            flex-direction: column;
            align-items: flex-start;
            li {
                transition: all .5s;
                &:hover{
                    font-size: 30px;
                }
                a {
                    text-decoration: none;
                    color: $colorbordo;
                    font-weight: bolder;
                }

            }
        }
    }
    .oferta {
        list-style-type: none;
        ul {
            background-color: rgb(220,233,190);
            list-style-type: none;
            display: flex;
            flex-direction: column;
            align-items: flex-start;
            li {
                transition: all .5s;
                &:hover{
                    font-size: 30px;
                }
                a {
                    text-decoration: none;
                    color: $colorbordo;
                    font-weight: bolder;
                }

            }
        }
    }

}

    

