/*media queris*/

@media (max-width: 577px){
    .iconoTienda {
        width: 70px;
        margin-bottom: 10px;
    }

  
    .producto{
        list-style-type: none;
        ul {
            background-color: rgb(220,233,190);
            list-style-type: none;
            display: flex;
            flex-direction: column;
            align-items: flex-start;
            li {
                transition: all .5s;
                &:hover{
                    font-size: 30px;
                }
                a {
                    text-decoration: none;
                    color: $colorbordo;
                    font-weight: bolder;
                }

            }
        }
    }
    .oferta {
        list-style-type: none;
        ul {
            background-color: rgb(220,233,190);
            list-style-type: none;
            display: flex;
            flex-direction: column;
            align-items: flex-start;
            li {
                transition: all .5s;
                &:hover{
                    font-size: 30px;
                }
                a {
                    text-decoration: none;
                    color: $colorbordo;
                    font-weight: bolder;
                }

            }
        }
    }
    .lista {
        display: flex;
        justify-content: center !important;
        flex-wrap: wrap;
        align-items: flex-end;
    }

}

    

